<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}
      <title>Gym Manager</title>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/instructors">Instrutores</a>
        <a href="/members">Membros</a>
      </div>
    </header>
    
    {% block content %} {% endblock %}

    <script src="/scripts.js"></script>
    
  </body>
</html>